* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #f8f8f8, #f7f7af);
  font-size: 0.9rem;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 98vw;
}

header {
  width: 100%;
  text-align: center;
}

.logo {
  max-width: 300px;
}

main {
  width: 100%;
  padding: 15px;
}
hr {
  border: 0;
  height: 0.12rem;
  background-color: #d50606;
  margin: 10px 0;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.section2 {
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  text-align: center;
}
.section2 > .p3 {
  font-size: 0.75rem;
}
.section2 > p > span {
  color: red;
  font-weight: 800;
}
.section2 img {
  width: 65vw;
  margin: 0.2rem auto 0.7rem;
}
section ul {
  margin-left: 1rem;
  padding: 0.2rem 0.5rem 0.4rem;
}

h4 {
  margin: 0.4rem;
}

.left,
.right {
  flex: 1;
}

.left {
  flex: 0 0 32%;
}

.left img {
  width: 100%;
}

.right {
  flex: 1;
  margin-left: 20px;
}

.right img,
img.middle {
  max-width: 100%;
  height: auto;
  margin: 0.3rem 0;
}

footer {
  width: 100%;
  background-color: #e63131;
  display: flex;
  padding: 30px;
}

.footer-section {
  flex: 1;
  text-align: center;
}

.footer-section a {
  text-decoration: none;
  color: #f8f8f8;
}
.footer-section svg {
  color: white;
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  body {
    font-size: 0.75rem;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section .left img {
    width: 30%;
    margin: 0 auto;
  }

  .section .right img {
    width: 90%;
    margin: 0 auto;
  }
  .right {
    margin-left: 0 !important;
  }
  section ul {
    margin-left: 1rem;
    padding: 0.2rem;
  }
  .section li {
    text-align: left;
  }
  .section2 img {
    width: 75vw;
    margin: 0.2rem auto 0.7rem;
  }

  .section2 > .p1,
  .section2 > .p3 {
    font-size: 0.65rem;
  }
  footer {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    padding: 25px;
  }
  .footer-section {
    text-align: center;
  }
}
@media only screen and (max-width: 512px) {
  body {
    font-size: 0.65rem;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section .right img {
    width: 95%;
    margin: 0 auto;
  }

  section ul {
    margin-left: 0.5rem;
    padding: 0.1rem;
  }

  .section2 img {
    width: 80vw;
    margin: 0.2rem auto 0.7rem;
  }

  .section2 > .p1,
  .section2 > .p3 {
    font-size: 0.6rem;
  }

  footer {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    padding: 20px;
  }

  .footer-section {
    text-align: left;
  }
}
